.home {
    height: 100%;
    scroll-behavior: smooth;
}

.home hr {
    border-color: var(--TANGERINE-DREAM);
    border-radius: 1.25rem; 
    border-width: 0.125rem; 
    margin-top: 0.5rem;
    width: 2.375rem; 
}

.home_aboutme_desc {
    color: var(--SILVER-FOG);
    font-size: 1rem; 
    font-weight: 300;
    line-height: 1.6;
}

.home_work_overview {
    margin-top: 2.5rem; 
}

.home_work_overview_grid {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    margin-top: 1rem;
}

.home_work_overview_grid_card {
    align-items: center;
    background-color: var(--SHADOWED-BLUE);
    border-radius: 0.625rem; 
    border: 0.0625rem solid var(--NIGHT-SKY); 
    box-shadow: var(--ELEVATED-SHADOW);
    display: flex;
    gap: 1.5rem;
    height: 8rem;
    justify-content: center;
    margin: 1.25rem 1.25rem 0.625rem 0;
    padding: 0.5rem; 
    width: inherit;
}

.home_work_overview_grid_card_icons {
    color: var(--TANGERINE-DREAM);
    font-size: 3.125rem !important;
}

.home_work_overview_grid_card_details {
    color: var(--SILVER-FOG);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .home_work_overview_grid {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
        margin-top: 1rem;
    }
}

  